.ranking-container {
  background: #afafb644;
  border-radius: 1rem;
  max-width: 85%;
  color: white;
  margin: auto;  
}

.ranking-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1c3247d3;
  border-radius: 0.85rem;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.ranking-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ranking-position {
  font-size: 1.3rem;
  font-weight: bold;
  width: 30px;
  text-align: center;
}

.ranking-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.ranking-name {
  font-weight: 600;
  font-size: 1rem;
}

.ranking-score {
  font-weight: bold;
  font-size: 1.2rem;
}

.top-1 { color: #f3d008; font-size: 2.5rem;}
.top-2 { color: #a5a4a4; font-size: 2rem;}
.top-3 { color: #d4791e; font-size: 1.7rem;}


.ranking-usuario {
  background-color: rgb(205, 220, 235) !important;
  color: #1C3247 !important;
  font-size: 0.95rem;
}

.ranking-position-user {
  font-size: 1.5rem;
  text-align: left;
}
.ranking-text-user{
  padding-left: 25px;
}
.ranking-left-user{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 35px;
}
.ranking-avatar-user {
  width: auto;
  height: 60px;
  object-fit: cover;
}

.ranking-name-user {
  font-size: 1.5rem;
  text-align: left;
}

.ranking-score-user {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .card_info_ranking{
    display: none;
  }
  .text-ranking{
    font-size:16px;
    margin-top:10px;
  }
  .imagen_ranking{
    height: 120px;
    margin-top:10px;
  }
  .ranking-container{
    max-width: 100%;
  }
  .ranking-text-user{
    padding-left: 12px;

  }
  .ranking-avatar-user{
    height: 48px;
  }
  .ranking-name-user{
    font-size:20px;
  }
  .ranking-position-user{
    font-size: 13px;
    padding-right: 4px;    
  }
  .ranking-score-user{
    font-size: 12px;
    padding: 0;
  }
  .ranking-avatar {
  width: auto;
  height: 32px;
  }
  .ranking-name {
    font-size: 14px;
  }
  .ranking-score {
    font-size: 12px;
  }
  .ranking-position {
    font-size: 16px;
    width: 20px;
  }
  .ranking-left {
    gap: 5x;
  }
  .ranking-item{
    padding: 8px 7px;
  }
  .top-1 { color: #f3d008; font-size: 22px;}
  .top-2 { color: #a5a4a4; font-size: 20px;}
  .top-3 { color: #d4791e; font-size: 18px;}
}