.info{
font-family: 'Nunito','Fredoka', sans-serif;
color: whitesmoke;
text-align: justify;
}
.info p{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    font-size: 1.1rem;
}
.info h4{
    padding-left:1rem !important;
    padding-right: 1rem !important;
    font-size: 1.8rem;
}
.info ul{
padding-left: 2.5rem;
font-size: 1.1rem;
}
.info ul li{
padding-bottom:0.75rem;
}
.info ol{
padding-left: 1.75rem;
font-size: 1.1rem;
}
.info ol li{
padding-bottom:0.75rem;
}
#infoCarrusel {
  max-width: 100%;
  overflow: hidden;
  background-color: rgba(9, 156, 161, 0.808); /* tu color base oscuro */
  border-radius: 1.5rem;
  padding: 2rem 1.5rem;
  position: relative;
}

.carousel-inner {
  overflow-x: hidden;
  border-radius: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #FE9900;
  border-radius: 50%;
  opacity: 0.7;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 60% 60%;
}
.carousel-item {
  min-height: 400px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #FE9900;
  border-radius: 50%;
}

@media (max-width: 768px) {
  #infoCarrusel {
    width: 95vw;
    min-width: 320px;
    max-width: 100%;
    padding: 1rem 0.2rem;
    margin: 0.85rem auto auto;
    border-radius: 1rem;
}
  .info h4{
  font-size: 1.1rem;
 }
  .info p{
  font-size: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
  .info ul, .info ol {
  font-size: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
  .info img {
    display: none;
}
  .info ul li{
  padding-bottom:0.35rem;
  padding-left: 0.6rem;
}
  .info ol li{
  padding-bottom:0.35rem;
  padding-left: 0.6rem;
}
.cont-nvl{
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
  .carousel-item {
    min-width: 100%;
    width: 100%;
}
  .carousel-control-prev,
  .carousel-control-next {
  width: 30px;
  height: 30px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-size: 50% 50%;
}
}