body {
  font-family: 'Nunito','Fredoka', sans-serif;
  background-color: #1C3247;
}

/* Para hacer que el contenido principal se desplace a la derecha del sidebar */
main {
  margin-left: 250px; /* Espacio para el sidebar */
}

/*MENU DEL PERFIL*/
.dropdown{
  padding: auto;
}
.dropdown-menu {
  min-width: 180px;
  font-size: 16x;
}
.dropdown-toggle {
  border: none;
  color: white;
}
.dropdown-toggle:focus {
  border: none;
}
.dropdown-toggle:hover {
  background-color: #40435cb4; /* tu color principal */
  color: white;
}
/*MENU LATERAL*/
/* Aseguramos que el sidebar ocupe el 100% de la altura de la pantalla */
#sidebar {
  background-color: #1C3247;
  height: 100vh; /* Toma toda la altura de la pantalla */
  padding-top: 50px;
  position: fixed; /* Fijo para no moverse con el scroll */
  top: 0;
  left: 0;
  z-index: 1000; /* Para que se superponga sobre el contenido */
  border-right: 0.15rem solid rgb(92, 107, 116) ;

}
#sidebar h3 {
  color: #fff;
  font-size: 24px;

}
.nav-item {
  margin: 10px 0;
}
.nav-link {
  font-size: 18px;
  color: #d3d3d3;
}
.nav-link:hover {
  color: #fff;
  background-color: #fd7505e0;
  border-radius: 5px;
}


.card {
  margin: 7px 0;
  color: #fff;
  border-radius: 2rem;
  background-color: rgba(9, 156, 161, 0.808);
  height: auto;
}

.card_info {
  border: 0.15rem solid rgb(92, 107, 116); /* Cambia el color al que quieras */
  border-radius: 1.5rem;       /* Opcional: bordes redondeados */
  padding: 0.85rem;     /* Opcional: espacio interno */
  width: 80%;
  margin-left: 3rem;
}
.card_info_ranking {
  border: 0.13rem solid rgb(92, 107, 116); /* Cambia el color al que quieras */
  border-radius: 1.5rem;       /* Opcional: bordes redondeados */
  width: 85%;
  margin-left: 3rem;
}
.info_img{
 padding:auto ;
}
.info_text{
 padding:0.75rem ;
}

.card-title {
  font-size: 22px;
  margin-bottom: 0.5rem;
}

.card-subtitle {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.card-body {
  padding: 20px;
}

.nivel-imagen {
  display: block;
  width: auto;
  height: 180px;
}
.imagen_ranking {
  display: block;
  width: auto;
  height: 170px;
}

@media (max-width: 768px) {
  #sidebar {
    position: absolute;
    top: 0;
    left: -250px;
    transition: left 0.3s;
  }
  
  #sidebar.open {
    left: 0;
  }

  .container-fluid {
    padding-left: 0;
  }

  main {
    margin-left: 0;
  }

  .nav-link {
    font-size: 16px;
  }
}
