body {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #f0f9ff, #d1e9ff);
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 10px;
  background-color: #333;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.panel {
  padding: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.user-info {
  margin-bottom: 20px;
}
